div.container
    div.row
        p.h1.text-center.col-12.section-heading JETZT HANDWERKER FINDEN
        p.text-center.col-12.lead Bitte fülle das Formular vollständig aus. Je genauer Du uns die Details beschreibst, umso leichter finden wir den richtigen Handwerksbetrieb für Dein Projekt.
   
    form#formDropzone.mt-5(action="/person-registrieren" enctype="multipart/form-data" method="POST")
        p.h4.col-12.p-0 Was suchst du?
        hr.col-12.mt-0
        div.form-row
            div.form-group.col-12.col-md-6
                label(for="inputMainCategory") Oberkategorie
                select(name="mainCat", required)#inputMainCategory.form-control
                    option(value="", selected="selected", disabled) Oberkategorie auswählen
                    for item in categories
                        option= item.name
            div.form-group.col-12.col-md-6
                label(for="inputSecondaryCategory") Unterkategorie
                select(name="secCat" ,required)#inputSubCategory.form-control
                    option(value="", selected="selected", disabled) Unterkategorie auswählen
                    for cat in categories
                        for item in cat.sub_categories
                            option(data-main-category=cat.name, style=( cat != categories[0] ? "display: none;" : false ))= item

        div.form-row
            div.form-group.col-md-4
                label(for="inputDateFrom") 
                    span Zeitraum - Von 
                    span.text-muted (optional)
                input#inputDateFrom.form-control(type="date", name="dateFrom", min=today, value=today, required)
            div.form-group.col-md-4
                label(for="inputDateTo") 
                    span Zeitraum - Bis 
                    span.text-muted (optional)
                input#inputDateTo.form-control(type="date", name="dateTo", min=today, value=inOneWeek, required)
            div.form-group.col-6.col-md-4
                label(for="inputBudget") 
                    span Budget 
                    span.text-muted (optional)
                input#inputBudget.form-control(type="number", name="budget")

        div.form-row            
            div.form-group.col-12
                label(for="inputDescription") Auftragsbeschreibung
                textarea#inputDescription.form-control(type="textarea", rows="5", name="description", required)

        
        p.h4.col-12.p-0.mt-5 Bilder deiner Baustelle
            hr.col-12.mt-0
        div#personDropzone.dropzone.col-12.mt-4
        div.form-row.mt-2.p-1
            div.p-2.col-12.alert.alert-warning(role='alert')
                p.pb-0 
                    strong Wichtiger Hinweis zur Nutzung von Auftragsdepot24
                    p.text-justify.mb-0 F&uuml;ge hier optional Bilder hinzu, damit wir uns schonmal einen kleinen &Uuml;berblick verschaffen k&ouml;nnen. (Maximal 5 Bilder, die maximal jeweils 3 MB groß sind).        

        div.form-row.mt-5
            p.h4.col-12 Pers&ouml;nliche Informationen
            hr.col-12.mt-0
            div.form-group.col-md-6.col-12
                label(for="inputFirstname") Vorname
                input#inputFirstname.form-control(type="text", name="firstname", required)
            div.form-group.col-md-6.col-12
                label(for="inputLastname") Nachname
                input#inputLastname.form-control(type="text", name="lastname", required)
            div.form-group.col-md-6.col-12
                label(for="inputEmail") Email
                input#inputEmail.form-control(type="email", name="email", required)
            div.form-group.col-md-6.col-12
                label(for="inputPhone") 
                    span Telefonnummer 
                    span.text-muted (optional)
                input#inputPhone.form-control(type="phone", name="phone")
        hr
        div.form-row
            div.form-group.col-6.col-md-4
                label(for="inputPLZ") Postleitzahl
                input#inputPLZ.form-control(type="number", name="plz", required)
            div.form-group.col-6.col-md-8
                label(for="inputCity") Ort
                input#inputCity.form-control(type="text", name="city", disabled, required)                        
        hr
        div.form-row
            div.form-check
                input#checkbox.form-check-input(type="checkbox", required)
                label.form-check-label(for="checkbox") Hiermit best&auml;tige ich, dass ich die Datenschutzerkl&auml;rung gelesen habe und den AGB zustimme
        div.row.mt-5.pt-5
            button.col-12.col-sm-12.col-lg-4.btn.ad-primary-btn.ad-red-btn.m-auto.auftrag(type="submit") 
                span Anfrage absenden
        